/* main.css */
body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #f8f9fa;
}

[data-bs-theme="light"] {
  --bs-body-bg: #fff;
  --bs-body-color: #212529;
}

/* حالت تاریک برای دکمه ها */
[data-bs-theme="dark"] button,
[data-bs-theme="dark"] .btn {
  border: 1px solid #8c8b8b; /* سفید باریک */
}